.divContainer{
    display: flex;
    width: auto;
    justify-content: center;
}

.container{
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.border{
    border: 3px solid;
    border-radius: 20px;
    border-color: rgb(0, 140, 255);
}

.box{
    background-color: rgb(99, 99, 99);
    padding: 70px;
    border-radius: 10px;
}

@media (max-width: 720px){
    .container{
        display: grid;
    }
}